@model CreateEmployeeDTO

@{
    Layout = "~/Areas/Personel/Views/Shared/_LayoutPersonel.cshtml";
}

@if (TempData["error"] is not null)
{
    <div class="ms-4 me-4 alert alert-dismissible alert-danger ps-0">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading ms-4 ps-0">Something goes wrong!</h4>
        <p class="mb-0">@TempData["error"]</p>
    </div>
}



<h1 class="m-0 font-weight-bold text-primary mb-4">Create Employee</h1>
<form asp-action="create" asp-controller="companymanager" asp-area="CompanyManager" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <input asp-for="CompanyId" type="hidden" value="@((ViewBag.Personel).CompanyId)" />
                        <div class="col-lg-10">

                            <div class="form-group">
                                <label asp-for="FirstName" class="form-label">@Html.DisplayNameFor(x=>x.FirstName)</label>
                                <input asp-for="FirstName" class="form-control">
                                <span class="text-danger" asp-validation-for="FirstName"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LastName" class="form-label">@Html.DisplayNameFor(x=>x.LastName)</label>
                                <input asp-for="LastName" class="form-control">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UserName" class="form-label">@Html.DisplayNameFor(x=>x.UserName)</label>
                                <input asp-for="UserName" class="form-control">
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email" class="form-label">@Html.DisplayNameFor(x=>x.Email)</label>
                                <input asp-for="Email" class="form-control">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="form-label">@Html.DisplayNameFor(x=>x.PhoneNumber)</label>
                                <input asp-for="PhoneNumber" class="form-control" type="tel">
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="DepartmentId" class="form-label">@Html.DisplayNameFor(x=>x.DepartmentId)</label>
                                <select asp-for="DepartmentId" class="custom-select"asp-items="@ViewBag.Departments">
                                    <option value ="">Please select a Department</option>
                                </select>
                                <span class="text-danger" asp-validation-for="DepartmentId"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="TitleId" class="form-label">@Html.DisplayNameFor(x=>x.TitleId)</label>
                                <select asp-for="TitleId" class="custom-select" asp-items="@ViewBag.Titles">
                                    <option value="">Please select a Title</option>
                                </select>
                                <span class="text-danger" asp-validation-for="TitleId"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Image" class="form-label">Select Image</label>
                                <input asp-for="Image" type="file" class="form-control">
                            </div>

                            <div class="form-group">
                                <label asp-for="BloodTypeId" class="form-label">@Html.DisplayNameFor(x=>x.BloodTypeId)</label>
                                <select asp-for="BloodTypeId" class="custom-select" asp-items="@Html.GetEnumSelectList<BloodTypeEnumVM>()">
                                    <option value="">Please select a Blood Type</option>
                                </select>
                                <span class="text-danger" asp-validation-for="BloodTypeId"></span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                </div>
                <div class="card-body">

                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-10">
                                                       
                            <div class="form-group">
                                <label asp-for="BirthDate" class="form-label">@Html.DisplayNameFor(x=>x.BirthDate)</label>
                                <input asp-for="BirthDate" class="form-control" type="date">
                                <span class="text-danger" asp-validation-for="BirthDate"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="RecruitmentDate" class="form-label">@Html.DisplayNameFor(x=>x.RecruitmentDate)</label>
                                <input asp-for="RecruitmentDate" class="form-control" type="date">
                                <span class="text-danger" asp-validation-for="RecruitmentDate"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ManagerId" class="form-label">@Html.DisplayNameFor(x=>x.ManagerId)</label>
                                <select asp-for="ManagerId" class="custom-select" asp-items="@ViewBag.CompanyManagers">
                                    <option value="">Please select a Manager</option>
                                </select>
                                <span class="text-danger" asp-validation-for="ManagerId"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="IsEmployee" class="form-label">@Html.DisplayNameFor(x=>x.IsEmployee)</label>
                                <select asp-for="IsEmployee" class="custom-select">
                                    <option value="">Please select a Role</option>
                                    <option value="True">Employee</option>
                                    <option value="False">Manager</option>
                                </select>
                                <span class="text-danger" asp-validation-for="IsEmployee"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CountryId" class="form-label">@Html.DisplayNameFor(x=>x.CountryId)</label>
                                <select asp-for="CountryId" class="custom-select" id="countryList" asp-items="@ViewBag.Countries">
                                    <option value="">Please select a Country</option>
                                </select>
                                <span class="text-danger" asp-validation-for="CountryId"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CityId" class="form-label">@Html.DisplayNameFor(x=>x.CityId)</label>
                                <select asp-for="CityId" class="custom-select mt-1" id="cityList" asp-items="@ViewBag.Cities" disabled>
                                    <option value="">Please select a City</option>
                                </select>
                                <span class="text-danger" asp-validation-for="CityId"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="DistrictId" class="form-label">@Html.DisplayNameFor(x=>x.DistrictId)</label>
                                <select asp-for="DistrictId" class="custom-select mt-1" id="districtList" asp-items="@ViewBag.Districts" disabled>
                                </select>
                                <span class="text-danger" asp-validation-for="DistrictId"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="AddressDescription" class="form-label">@Html.DisplayNameFor(x=>x.AddressDescription)</label>
                                <textarea asp-for="AddressDescription" class="form-control mt-1" rows="4" style="resize:none"></textarea>
                                <span class="text-danger" asp-validation-for="AddressDescription"></span>
                            </div>
                            <input id="url" type="hidden" value="@(ViewBag.BaseUrl)" />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="form-group d-flex justify-content-end mt-1 ">
        <button type="submit" id="createModel"hidden></button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createEmployeeModal">Create Employee</button>
        <a class="btn btn-danger ms-3" asp-area="companymanager" asp-action="employees" asp-controller="companymanager">Back To The Employee List</a>
    </div>
</form>

<div class="modal fade" id="createEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure create new employee?</p>
            </div>
            <div class="modal-footer">
                <button id="create" class="btn btn-primary m-2" type="submit" data-bs-dismiss="modal">Create</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Back To Create Employee Page</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(function () {
            $('#create').click(function () {
                $('#createModel').trigger('click');
            })
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#countryList').change(function () {
                var countryId = $(this).val();
                var baseUrl = $('#url').val();
                if (countryId != null && countryId != '') {
                    $.ajax({
                        type: "GET",
                        url: baseUrl + "/account/setDropDownListCity/" + countryId,
                        datatype: "Json",
                        success: function (cities) {
                            $("#cityList").empty();
                            $("#districtList").empty();
                            $("#districtList").prop('disabled', true);
                            $("#cityList").removeAttr("disabled");
                            $.each(cities, function () {
                                $('#cityList').append('<option value=' + this.id + '>' + this.name + '</option>');
                            });
                        },
                        error: function () {
                            alert("Hata");
                        }
                    });
                }
            });
        });

        $(function () {
            $('#cityList').change(function () {
                var cityId = $(this).val();
                var baseUrl = $('#url').val();
                if (cityId != null && cityId != '') {
                    $.ajax({
                        type: "GET",
                        url: baseUrl + "/account/setDropDownListDistrict/" + cityId,
                        datatype: "Json",
                        success: function (districts) {
                            $("#districtList").empty();
                            $("#districtList").removeAttr("disabled");
                            $.each(districts, function () {
                                $('#districtList').append('<option value=' + this.id + '>' + this.name + '</option>');
                            });
                        },
                        error: function () {
                            alert("Hata");
                        }
                    });
                }
            });
        });
    </script>


}