@model IEnumerable<EmployeeVM>

@{
    Layout = "~/Areas/Personel/Views/Shared/_LayoutPersonel.cshtml";
}


@if (TempData["modelError"] is not null)
{
    <div class="ms-4 me-4 alert alert-dismissible alert-danger ps-0" id="myAlert1">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading ms-0 ps-1">Something goes wrong!</h4>

        <ul class="list-group">
            @foreach (var item in TempData["modelError"] as Array)
            {
                <li class="p-1 ms-4">
                    @item
                </li>
            }
        </ul>
    </div>
}

@if (TempData["error"] is not null)
{
    <div class="ms-4 me-4 alert alert-dismissible alert-danger ps-0" id="myAlert1">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading ms-4 ps-0">Something goes wrong!</h4>
        <p class="mb-0">@TempData["error"]</p>
    </div>
}

@if (TempData["success"] is not null)
{
    <div class="ms-4 me-4 alert alert-dismissible alert-success" id="myAlert1">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Successfully</h4>
        <p class="mb-0">@TempData["success"]</p>
    </div>
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 ms-1">Employees</h1>

    <a class="btn btn-primary m-2 col-lg-2 ms-1" asp-controller="companymanager" asp-action="create">Create Employee</a>

    <!-- DataTales Example -->
    <div class="ms-1 card shadow mb-1">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example1" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.FullName)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.DepartmentName)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.Title)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.ManagerName)</th>
                            <th hidden class="text-center">@Html.DisplayNameFor(x=>x.Phone)</th>
                            <th hidden class="text-center">@Html.DisplayNameFor(x=>x.Email)</th>
                            <th hidden class="text-center">@Html.DisplayNameFor(x=>x.BirthDate)</th>

                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td class="text-center">@item.FullName</td>
                                <td class="text-center">@item.DepartmentName</td>
                                <td class="text-center">@item.Title</td>
                                <td class="text-center">@item.ManagerName</td>
                                <td hidden class="text-center">@item.Phone</td>
                                <td hidden class="text-center">@item.Email</td>
                                <td hidden class="text-center">@item.BirthDate</td>

                                <td class="d-flex justify-content-around">
                                    <a class="btn btn-primary m-2" asp-action="update" asp-controller="companymanager" asp-route-id="@item.Id">Update Employee</a>
                                    <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal" data-bs-whatever="@item.Id">Delete Employee</button>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure deleting employee?</p>
            </div>
            <div class="modal-footer">
                <form asp-action="delete" asp-controller="companymanager">
                    <input id="deleteEmployeeInput" class="deleteEmployee" type="hidden" name="id" />
                    <button id="delete" class="btn btn-danger m-2" type="submit">Delete</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back to the List</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var exampleModal = document.getElementById('deleteEmployeeModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            document.getElementById("deleteEmployeeInput").value = recipient;
        })
    </script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                buttons: [
                    {
                        extend: 'excel',
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'pdf',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }

                    }
                ]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

    <script type="text/javascript">
        setTimeout(function () {
            $('#myAlert3').hide('fade')
        }, 3000);
        setTimeout(function () {
            $('#myAlert2').hide('fade')
        }, 5000);
        setTimeout(function () {
            $('#myAlert1').hide('fade')
        }, 5000)
    </script>

}