@model ExpenseDetailVM
@{
    Layout = "~/Areas/Personel/Views/Shared/_LayoutPersonel.cshtml";
}

<div class="d-flex justify-content-center">
    <div class="card mt-1" style="width: 40%;">

        <div class="card-body mt-1">
            <h1 class="card-title text-center text-black-50 mt-2"><strong>@Model.PersonelName</strong></h1>
            <h4 class="card-text text-center mt-2">@Model.ShortDescription</h4>
        </div>
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.Amount):</strong> @Model.Amount @Model.CurrencyType</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.ExpenseDate):</strong> @Model.ExpenseDate</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.ExpenseType):</strong> @Model.ExpenseType</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.LongDescription):</strong> @Model.LongDescription</li>
            <li class="list-group-item text-center mt-2"><strong>@Html.DisplayNameFor(x=>x.CreatedDate):</strong> @Model.CreatedDate</li>
        </ul>
        <div class="card-body d-flex justify-content-around my-1">
            @if (Model.Statu == "Awating Approval")
            {
                <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#updateApproveModal">Approve</button>
                <a class="btn btn-primary m-2" asp-area="companymanager" asp-action="ExpenseRequests" asp-controller="companymanager">Back To The List</a>
                <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#updateRejectModal">Reject</button>
            }
            else
            {
                <a class="btn btn-primary m-2" asp-area="companymanager" asp-action="ExpenseRequests" asp-controller="companymanager">Back To The List</a>
            }            
        </div>
    </div>
</div>

<form asp-controller="expense" asp-action="Approve" asp-area="personel" asp-route-id="@Model.Id">
    <button type="submit" id="approveExpense" hidden></button>
</form>

<form asp-controller="expense" asp-action="reject" asp-area="personel" asp-route-id="@Model.Id">
    <button type="submit" id="rejectExpense" hidden></button>
</form>

<div class="modal fade" id="updateApproveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure approve expense request?</p>
            </div>
            <div class="modal-footer">
                <button id="approve" class="btn btn-success m-2" type="submit" data-bs-dismiss="modal">Approve</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back To Advance Page</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateRejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure reject expense request?</p>
            </div>
            <div class="modal-footer">
                <button id="reject" class="btn btn-danger m-2" type="submit" data-bs-dismiss="modal">Reject</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back To Advance Page</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#approve').click(function () {
                $('#approveExpense').trigger('click');
            })
        });
    </script>
    <script>
        $(function () {
            $('#reject').click(function () {
                $('#rejectExpense').trigger('click');
            })
        });
    </script>
}