@model IEnumerable<LeaveTypeVM>

@{
    Layout = "~/Areas/Personel/Views/Shared/_LayoutPersonel.cshtml";
}

@if (TempData["modelError"] is not null)
{
    <div class="ms-4 me-4 alert alert-dismissible alert-danger ps-0" id="myAlert1">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading ms-0 ps-1">Something goes wrong!</h4>

        <ul class="list-group">
            @foreach (var item in TempData["modelError"] as Array)
            {
                <li class="p-1 ms-4">
                    @item
                </li>
            }

        </ul>
    </div>
}

@if (TempData["error"] is not null)
{
    <div class="ms-4 me-4 alert alert-dismissible alert-danger ps-0" id="myAlert1">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading ms-4 ps-0">Something goes wrong!</h4>
        <p class="mb-0">@TempData["error"]</p>
    </div>
}

@if (TempData["success"] is not null)
{
    <div class="ms-4 me-4 alert alert-dismissible alert-success" id="myAlert1">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Successfully</h4>
        <p class="mb-0">@TempData["success"]</p>
    </div>
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mb-3">Leave Types</h1>

    <a class="btn btn-primary m-2 col-lg-2" data-bs-toggle="modal" data-bs-target="#createLeaveTypeModal">Create Leave Type</a>

    <!-- DataTales Example -->
    <div class="ms-2 card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th hidden class="text-center">@Html.DisplayNameFor(x=>x.Id)</th>
                            <th class="text-center">@Html.DisplayNameFor(x=>x.Name)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr class="align-middle">
                                <td hidden class="text-center align-middle">@item.Id</td>
                                <td class="text-center align-middle">@item.Name</td>
                                <td class="d-flex justify-content-around align-middle">
                                    @*<a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#updateLeaveModal" data-id="@item.Id">İzni Güncelle</a>*@
                                    <a class="btn btn-primary m-2" asp-action="update" asp-controller="leavetype" asp-route-id="@item.Id">Update Leave Type</a>
                                    <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#deleteLeaveTypeModal" data-bs-whatever="@item.Id">Delete Leave Type</button>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<partial name="~/Areas/CompanyManager/Views/PartialViews/_partialCraeteLeaveType.cshtml" model="new CreateLeaveTypeDTO()"></partial>

@*<partial name="~/Areas/Personel/Views/PartialViews/_partialUpdateLeave.cshtml" model="new UpdateLeaveDTO()">*@

<div class="modal fade" id="deleteLeaveTypeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure deleting leave type?</p>
            </div>
            <div class="modal-footer">
                <form asp-action="delete" asp-controller="leavetype">
                    <input id="deleteLeaveTypeInput" class="deleteLeaveType" type="hidden" name="id" />
                    <button id="delete" class="btn btn-danger m-2" type="submit">Delete</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back to the List</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var exampleModal = document.getElementById('deleteLeaveTypeModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {

            var button = event.relatedTarget

            var recipient = button.getAttribute('data-bs-whatever')

            document.getElementById("deleteLeaveTypeInput").value = recipient;

        })
    </script>

    <script type="text/javascript">
        setTimeout(function () {
            $('#myAlert3').hide('fade')
        }, 3000);
        setTimeout(function () {
            $('#myAlert2').hide('fade')
        }, 5000);
        setTimeout(function () {
            $('#myAlert1').hide('fade')
        }, 5000)
    </script>

}