@model UpdateExpenseDTO

<form asp-action="update" asp-controller="expense">
    <div class="row d-flex justify-content-center mt-3">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="StatuId" />
        <input type="hidden" asp-for="CreatedDate" />
		<div class="row d-flex justify-content-center mt-3">

			<div class="col-lg-10">
				<h1>Update Expense</h1>

				<div class="form-group">
					<label asp-for="ExpenseTypeId" class="form-label mt-4">@Html.DisplayNameFor(x=>x.ExpenseTypeId)</label>
					<select asp-for="ExpenseTypeId" class="custom-select" asp-items="@ViewBag.ExpenseTypes">
						<option>Please select a Expense Type</option>
					</select>
				</div>

				<div class="form-group">
					<label asp-for="ExpenseDate" class="form-label">@Html.DisplayNameFor(x=>x.ExpenseDate)</label>
					<input asp-for="ExpenseDate" class="form-control" type="date">
					<span class="text-danger" asp-validation-for="ExpenseDate"></span>
				</div>

				<div class="row">
					<div class="form-group col-lg-6">
						<label asp-for="Amount" class="form-label">Amount</label>
						<input asp-for="Amount" id="id" class="form-control" type="text">
						<span asp-validation-for="Amount"></span>
					</div>

					<div class="form-group col-lg-6">
						<label asp-for="CurrencyTypeId" class="form-label">@Html.DisplayNameFor(x=>x.CurrencyTypeId)</label>
						<select asp-for="CurrencyTypeId" class="custom-select" asp-items="@Html.GetEnumSelectList<CurrencyTypeEnumVM>()">
							<option>Select Currency Type</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label asp-for="ShortDescription" class="form-label">@Html.DisplayNameFor(x=>x.ShortDescription)</label>
					<textarea asp-for="ShortDescription" class="form-control" placeholder="Please write a short description here" id="floatingTextarea"></textarea>

				</div>
				<div class="form-group">
					<label asp-for="LongDescription" class="form-label">@Html.DisplayNameFor(x=>x.LongDescription)</label>
					<textarea asp-for="LongDescription" class="form-control" placeholder="Please write a long description here" id="floatingTextarea2"></textarea>
				</div>
			</div>
		</div>

    <div class="form-group d-flex justify-content-end mt-3">
			<button type="submit" id="updateModel" hidden></button>
			<button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#updateExpenseModal">Update Expense</button>
			<a class="btn btn-danger m-2" asp-area="personel" asp-action="index" asp-controller="personel">Back To The Home</a>
			<a class="btn btn-danger m-2" asp-area="personel" asp-action="expenses" asp-controller="personel">Back To The List</a>
			<div class="col-lg-1"></div>
    </div>
</form>

<div class="modal fade" id="updateExpenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-m">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Are you sure updating expense request?</p>
			</div>
			<div class="modal-footer">
				<button id="update" class="btn btn-primary m-2" type="submit" data-bs-dismiss="modal">Update</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Back To Update Page</button>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		$(function () {
			$('#update').click(function () {
				$('#updateModel').trigger('click');
			})
		});
	</script>
}