@model IEnumerable<CompanyVM>

<div class="row d-flex justify-content-between">
    <h3 class="card-header bg-dark text-white border-3">List Of Companies</h3>
    <div class="card shadow mb-1">
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered" width=" 100%" cellspacing="0">
                <thead>
                    <tr>
                        <th hidden class="text-center">@Html.DisplayNameFor(x=>x.CompanyId)</th>
                        <th class="text-center">@Html.DisplayNameFor(x=>x.CompanyName)</th>
                        <th class="text-center">@Html.DisplayNameFor(x=>x.FullName)</th>
                        <th class="text-center">@Html.DisplayNameFor(x=>x.PhoneNumber)</th>
                        <th class="text-center">@Html.DisplayNameFor(x=>x.Email)</th>
                        <th class="text-center">@Html.DisplayNameFor(x=>x.Statu)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden class="text-center align-middle"><label>@item.CompanyId</label> </td>
                            <td class="text-center align-middle"><label>@item.CompanyName </label></td>
                            <td class="text-center align-middle"><label>@item.FullName </label></td>
                            <td class="text-center align-middle"><label>@item.PhoneNumber </label></td>
                            <td class="text-center align-middle"><label>@item.Email </label></td>
                            @if (item.Statu == "Awating Approval")
                            {
                                <td class="text-center align-middle "><span class="badge rounded-pill bg-warning p-3"><label>@item.Statu</label></span></td>
                            }
                            else if (item.Statu == "Rejected")
                            {
                                <td class="text-center align-middle"><span class="badge rounded-pill bg-danger p-3"><label>@item.Statu</label></span></td>
                            }
                            else if (item.Statu == "Active")
                            {
                                <td class="text-center align-middle"><span class="badge rounded-pill bg-success p-3"><label>@item.Statu</label></span></td>
                            }
                            <td class="d-flex justify-content-around align-middle">
                                <a class="btn btn-primary m-2" asp-area="siteadmin" asp-action="details" asp-controller="siteadmin" asp-route-id="@item.CompanyId">Details </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script>

        $(function () {

            $("#example1").DataTable({

                "responsive": true, "lengthChange": false, "autoWidth": false,

                buttons: [
                    {
                        extend: 'excel',
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'pdf',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'colvis',
                        footer: false
                    }
                ]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            $('#example2').DataTable({

                "paging": true,

                "lengthChange": false,

                "searching": false,

                "ordering": true,

                "info": true,

                "autoWidth": false,

                "responsive": true,

            });

        });

    </script>
}